.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  font-family: 'Open Sans', sans-serif;
  color: #202226;
}
.container-fluid.limit-width{
  max-width: 1200px;
}
.bg-nav{
  background: #000000;
}
.navbar{
  padding: 1.125rem 1rem 1.3125rem;
}
.navbar-nav .nav-link{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
}
.navbar-dark .navbar-nav .nav-link:hover{
  color: #ffffff;
}
.navbar-brand{
  text-transform: uppercase;
  padding: 10px 10px 10px 49px;
  font-size: 27px;
  background: url(thunderlogo.png) 0 50% no-repeat;
}
.carousel-block .container-fluid {
  position: absolute;
  transform: translateX(-50%);
  height: 100%;
  top: 0;
  left: 50%;
}
.advantages-block{
		padding: 50px 0 4px;
}
.padding{
		padding: 0 15px;
}
.advantage{
		margin-bottom: 30px;
		font-size: 11px;
}
.pic{
		padding-top: 3px;
		padding-bottom: 44px;
		font-size: 5.3125em; /*85px/16px*/
		color: #f26c4f;
}
.advantage h4{
		margin-bottom: 22px;
		font-size: 2.375em; /*38px/16px*/
		font-weight: 700;
		text-transform: uppercase;
}
.advantage p{
		line-height: 26px;
		font-weight: 400;
		font-size: 16px;
}
.footer{
		padding: 35px 0;
		background: black;
}
.footer p{
		font-size: 12px;
		font-weight: 700;
		color: #777777;
		text-transform: uppercase;
}



